body {
    background-color: white !important;
    font-family: Calibri !important;
}

.text-white {
    color: #fff !important;
}

tr:hover {
    background-color: #e0e0e0;
}

.pw {
    background-color: #66bb6a;
    border-bottom-left-radius: 10px;
    transition: all 0.5s;
}

.pw:hover {
    background-color: #43a047;
}

.ni {
    background-color: #ef5350;
    border-bottom-right-radius: 10px;
    transition: all 0.5s;
}

.ni:hover {
    background-color: #e53935;
}

.choice {
    transition: all 0.5s;
    border-radius: 10px;
    color: #000;
}

.choice:hover {
    background-color: #1e88e5;
}

.ew {
    background: #42a5f5;
    transition: all 0.5s;
}

.ew:hover {
    background-color: #3c8dbc;
}

.table-scroll {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.table-wrap {
    width: 100%;
    overflow: auto;
}

.table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    /* border: 1px solid #000; */
    /* background: #fff; */
    white-space: nowrap;
    vertical-align: top;
    position: relative;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.clone th,
.clone td {
    visibility: hidden;
    border-color: transparent
}

.clone tbody th {
    visibility: visible;
    color: #505050;
}

.clone .fixed-side {
    /* border: 1px solid #000; */
    background: #fff !important;
    visibility: visible;
}

.bulan {
    /* border: 1px solid #000; */
    /* background: #e0e0e0 !important; */
    visibility: visible;
    color: #505050;
}

#rounded {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#rounded1 {
    border-top-right-radius: 10px;
}