body {
    background-color: white !important;
    font-family: Calibri !important;
}

.bg-lightgreen {
    background-color: #b9f6ca;
}

.bg-lightblue {
    background-color: #80d8ff;
}

tr:hover {
    background-color: #e0e0e0 !important;
}



.choice {
    transition: all 0.5s;
    /* border-radius: 10px; */
    color: #000;
}

.choice:hover {
    background-color: #81d4fa;
}

.table-scroll {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.table-wrap {
    width: 100%;
    overflow: auto;
}

.table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    /* border: 1px solid #000; */
    /* background: #fff; */
    white-space: nowrap;
    vertical-align: top;
    position: relative;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.clone th,
.clone td {
    visibility: hidden;
    border-color: transparent
}

.clone tbody th {
    visibility: visible;
}

.clone .fixed-side {
    /* border: 1px solid #000; */
    background: #e0e0e0 !important;
    visibility: visible;
    color: #505050;
    border-right: 1px solid #9e9e9e;
    border-left: 1px solid #9e9e9e;
}

.bulan {
    /* border: 1px solid #000; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #e0e0e0 !important;
    visibility: visible;
    color: #505050;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;

}